@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.webcast-outer-wrapper {
  background: $color-gray-extra-light;
}

.aspect-ratio-box {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

.aspect-ratio-box iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.form-container {
  margin-left: 0;
  width: inherit;
}

.webcast-content {

  //sass-lint:disable-all

  .mktoClear {
    display: none;
  }

  .mktoForm {
    max-width: inherit;
    width: inherit;
  }

  .mktoFormRow {
    display: inline;
  }

  .mktoFormCol {
    display: inline-block;
    width: calc(50% - 20px);
  }

  .mktoFormCol:nth-of-type(odd) {
    margin-right: 20px;
  }

  .mktoButtonRow {
    text-align: center;
  }

  .mktoForm button[type="submit"] {
    min-width: 180px !important;
  }

}
